{% extends 'base.html.twig' %}

{% block body %}
<div class="col-md-12">
    <h3><span class="glyphicon glyphicon-send"></span> Création d'un nouveau point de vente</h3>

<form enctype="multipart/form-data" action="{{ path('pos.create') }}"  class="form-horizontal col-md-8" method="post">

    {% include "ui/pos/form.html.twig" %}

    <div class="form-group">
      <div class="col-sm-offset-6 col-sm-6">
        <button type="submit" name="subvalider" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span> Ajouter</button>
      </div>
    </div>
</form>
</div>
{% endblock %}

