{% extends 'base.html.twig' %}

{% block body %}
    <h3><span class="glyphicon glyphicon-send"></span> Modification d'un produit</h3>
    <form enctype="multipart/form-data" action="{{ path('product.update', { 'id': entity.id }) }}"  class="form-horizontal col-md-8" method="post">
        {% include "ui/product/form.html.twig" %}

        <div class="form-group">
            <div class="col-sm-offset-6 col-sm-6">
                <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span> Mettre à jour</button>
                <a href="{{ path('product.show', { 'id': entity.id }) }}" class="btn btn-default"><span class="glyphicon glyphicon-search"></span> Afficher</a>
                {#<a href="{{ path('pos.delete', { 'id': entity.id }) }}" class="btn btn-danger"><span class="glyphicon glyphicon-search"></span> Supprimer</a> #}
            </div>
        </div>
    </form>
{% endblock %}