<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="application-name" content="optigas"/>
        <meta name="author" content="abwopda@yahoo.com">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        {% block meta %}{% endblock %}
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        <title>{% block title %}{{ app_config.app_name }}{% endblock %}</title>
        <link rel="shortcut icon" type="image/x-icon" href="{{ asset('images/icon.png') }}" />

        <style>{{ app_config.app_css }}</style>
    </head>
    {% block container %}
        {% block breadcrumb %} {% endblock %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    {% endblock container %}
</html>
